<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :title, autofocus: true, class: "form-control mb-sm-4", placeholder: "Title"%>
  <%= form.text_area :body, class: "form-control mb-sm-4", placeholder: "Body"%>
  <%#= form.select :user_id, options_for_select(User.all.pluck(:name), current_user), { prompt: 'Select Rate Period' }, class: "form-control mb-sm-4" %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <%= form.submit "Save", class: "btn btn-primary btn-center" %>
<% end %>
