<div class="mx-auto text-center">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="margin-bottom-md">Posts</h2>
      <p id="notice"><%= notice %></p>

      <table class="table table-hover">
        <thead>
          <tr class="d-flex">
            <th scope="col" class="col-3">Title</th>
            <th scope="col" class="col-5">Body</th>
            <th scope="col" class="col-2">User</th>
            <th colspan="3" class="col-2"></th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
            <tr class="d-flex">
              <td class="col-3"><%= post.title %></td>
              <td class="col-5"><%= post.body %></td>
              <td class="col-2"><%= post.user.name %></td>
              <td class="col-2text-center">
                <%= link_to post, class: "margin-right-sm" do %>
                  <i class="fa fa-eye text-info"></i>
                <% end %>
                <%= link_to edit_post_path(post), class: "margin-right-sm" do %>
                  <i class="fa fa-cog text-primary"></i>
                <% end %>

                <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash text-danger"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Post', new_post_path %>

    </div>
  </div>
</div>
